@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  color: #7e7e80;
  background-color: #ffffff; }

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif; }

p {
  font-family: 'Montserrat', sans-serif; }

.primarytext {
  color: #e1ab37; }

.heavytitle {
  text-transform: uppercase;
  font-weight: 600; }

.backcolor {
  background-color: #ffffff; }

.vidplayer iframe {
  width: 100%;
  height: 90vh; }

.fullwidth, footer {
  width: 100%;
  max-width: 100%; }

.logo img {
  max-height: 70px;
  max-height: 8vh;
  max-width: 100%; }

.stripbox-1 {
  padding-top: 2em;
  text-align: center; }

.stripbox-2 {
  padding-top: 1.2em;
  text-align: center; }

.fullwidth .columns {
  padding: 0;
  margin: 0; }

.main {
  text-align: center;
  max-height: 10vh;
  background-color: #ffffff; }

.maxwidth {
  width: 100%;
  max-width: 100%; }

.iconfix {
  margin-top: 5px; }

.icon-background {
  color: #e1ab37; }

.socio:hover span .icon-background {
  color: #e5e5e5; }

.socio:hover .topcolor {
  color: #e1ab37; }

.topcolor {
  color: #ffffff; }

@media screen and (min-width: 992px) {
  .nopaddleft {
    padding-left: 0; }

  .nopaddright {
    padding-right: 0; }

  .alignright {
    text-align: right; }

  .alignleft {
    text-align: left; }

  .showbiginline {
    display: inline-block; }

  .mainfont {
    font-size: 16px;
    line-height: 1; }

  .smallfont {
    font-size: 12px;
    line-height: 1; } }
@media screen and (max-width: 992px) {
  .showbiginline {
    display: none; }

  .mainfont {
    font-size: 14px;
    line-height: 1; }

  .smallfont {
    font-size: 11px;
    line-height: 1; } }
footer {
  background-color: #313131;
  padding: 10px;
  text-align: center; }
  footer p {
    font-size: 10px; }

/*# sourceMappingURL=style.css.map */
